<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.custom.mapper.ConsultrecordMapper">
    <resultMap id="BaseResultMap" type="com.crm.custom.domain.Consultrecord">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="customId" jdbcType="INTEGER" property="customid"/>
        <result column="consultManId" jdbcType="INTEGER" property="consultmanid"/>
        <result column="consultStatu" jdbcType="CHAR" property="consultstatu"/>
        <result column="consultDate" jdbcType="DATE" property="consultdate"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, customId, consultManId, consultStatu, consultDate, result
    </sql>

    <!--批量插入-->
    <insert id="saveBatch" parameterType="com.crm.custom.domain.Consultrecord">
        insert into consultrecord (id, customId, consultManId,
        consultStatu, consultDate, result
        ) VALUES
        <foreach collection="list" item="consultrecord"  separator=",">
            (#{consultrecord.id}, #{consultrecord.customid}, #{consultrecord.consultmanid},
            #{consultrecord.consultstatu}, #{consultrecord.consultdate}, #{consultrecord.result})
        </foreach>
    </insert>

    <select id="queryList" resultType="com.crm.custom.domain.Consultrecord">
        SELECT r.id AS id,r.customId AS customId,c.`name` AS NAME,r.consultManId AS consultManId,
        e.realname AS consultman,r.consultstatu AS consultstatu,r.consultDate AS consultDate,r.result AS result
        FROM consultrecord r
        LEFT JOIN custom c ON r.customId=c.id
        LEFT JOIN employee e ON r.consultManId=e.id
        <where>
            <if test="consultmanid != null">
                and consultManId = #{consultmanid}
            </if>
            <if test="name != null and name.trim() != ''">
                and name like CONCAT('%', #{name}, '%')
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(DISTINCT r.id)
        FROM consultrecord r
        LEFT JOIN custom c ON r.customId=c.id
        LEFT JOIN employee e ON r.consultManId=e.id
        <where>
            <if test="consultmanid != null">
                and consultManId = #{consultmanid}
            </if>
            <if test="name != null and name.trim() != ''">
                and name like CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>

    <update id="update" parameterType="com.crm.custom.domain.Consultrecord">
        update consultrecord
        <set>
            <if test="customid != null">
                customId = #{customid,jdbcType=INTEGER},
            </if>
            <if test="consultmanid != null">
                consultManId = #{consultmanid,jdbcType=INTEGER},
            </if>
            <if test="consultstatu != null">
                consultStatu = #{consultstatu,jdbcType=CHAR},
            </if>
            <if test="consultdate != null">
                consultDate = #{consultdate},
            </if>
            <if test="result != null">
                result = #{result,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>