<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.custom.mapper.CustominfoMapper">
    <resultMap id="BaseResultMap" type="com.crm.custom.domain.Custominfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="customId" jdbcType="INTEGER" property="customid"/>
        <result column="followManId" jdbcType="INTEGER" property="followmanid"/>
        <result column="statu" jdbcType="CHAR" property="statu"/>
        <result column="startDate" jdbcType="DATE" property="startdate"/>
        <result column="lastFollowDate" jdbcType="DATE" property="lastfollowdate"/>
        <result column="planDate" jdbcType="DATE" property="plandate"/>
        <result column="mark" jdbcType="VARCHAR" property="mark"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, customId, followManId, statu, startDate, lastFollowDate, planDate, mark
    </sql>

    <insert id="saveBatch" parameterType="com.crm.custom.domain.Custominfo">
        insert into custominfo(id, customId, followManId,
        statu, startDate, lastFollowDate,
        planDate, mark) VALUES
        <foreach collection="list" item="custominfo"  separator=",">
            (#{custominfo.id}, #{custominfo.customid}, #{custominfo.followmanid},
            #{custominfo.statu}, #{custominfo.startdate}, #{custominfo.lastfollowdate},
            #{custominfo.plandate}, #{custominfo.mark})
        </foreach>
    </insert>

    <select id="queryList" resultType="com.crm.custom.domain.Custominfo">
        SELECT i.id as id,i.customId as customId,c.`name` as name,i.followManId as followManId,e.realname AS followman,i.statu as statu,
        i.startDate as startDate,i.lastFollowDate as lastFollowDate,i.planDate as planDate,i.mark as mark
        FROM custominfo i
        LEFT JOIN custom c on i.customId=c.id
        LEFT JOIN employee e on i.followManId=e.id
        <where>
            <if test="followmanid != null">
                and followManId = #{followmanid}
            </if>
            <if test="departmentid != null">
                and e.departmentId = #{departmentid}
            </if>
            <if test="name != null and name.trim() != ''">
                and name like CONCAT('%', #{name}, '%')
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(DISTINCT i.id)
        FROM custominfo i
        LEFT JOIN custom c on i.customId=c.id
        LEFT JOIN employee e on i.followManId=e.id
        <where>
            <if test="followmanid != null">
                and followManId = #{followmanid}
            </if>
            <if test="departmentid != null">
                and e.departmentId = #{departmentid}
            </if>
            <if test="name != null and name.trim() != ''">
                and name like CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>

    <update id="update" parameterType="com.crm.custom.domain.Custominfo">
        update custominfo
        <set>
            <if test="customid != null">
                customId = #{customid,jdbcType=INTEGER},
            </if>
            <if test="followmanid != null">
                followManId = #{followmanid,jdbcType=INTEGER},
            </if>
            <if test="statu != null">
                statu = #{statu,jdbcType=CHAR},
            </if>
            <if test="startdate != null">
                startDate = #{startdate},
            </if>
            <if test="lastfollowdate != null">
                lastFollowDate = #{lastfollowdate},
            </if>
            <if test="plandate != null">
                planDate = #{plandate},
            </if>
            <if test="mark != null and mark !=''">
                mark = #{mark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>